@use "themes" as *;
@use "settings" as *;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

$header-height: 6rem;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 16px;
}
html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  transition: backgroundcolor $transition-length ease;
}

.App {
  background-color: $bg-color;
}

body {
  color: $font-color;
  line-height: 1.5;
  font-size: inherit;
  font-family: Lato, sans-serif;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}
h1,
h2,
h3,
h4,
p {
  margin-bottom: 1rem;
}

a {
  color: inherit;
  position: relative;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 0%;
    border-radius: 3px;
    bottom: -0.3rem;
    height: 5px;
    background: rgb(202, 238, 229);
    background: -moz-linear-gradient(
      90deg,
      rgba(202, 238, 229, 1) 0%,
      rgba(202, 238, 229, 0.5) 71%,
      rgba(0, 0, 0, 0) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(202, 238, 229, 1) 0%,
      rgba(202, 238, 229, 0.5) 71%,
      rgba(0, 0, 0, 0) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(202, 238, 229, 1) 0%,
      rgba(202, 238, 229, 0.5) 71%,
      rgba(0, 0, 0, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#caeee5",endColorstr="#000000",GradientType=1);
    transition: width ease-out $transition-length;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: inherit;
    outline: none;
    &::before {
      width: 120%;
    }
  }
}

header {
  position: fixed;
  font-weight: 700;
  width: 90%;
  // max-width: 1300px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  height: $header-height;
  display: flex;
  align-content: center;
  gap: 1rem;
  flex-wrap: wrap;

  .logo {
    width: 100%;
    display: block;
  }

  nav {
    width: 100%;
    ul {
      padding: 0;
      display: flex;
      list-style: none;
      justify-content: space-around;
    }
  }
}

footer {
  position: fixed;
  // border: 4px solid orange;
  bottom: 1rem;
  width: 90%;
  // max-width: 1300px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  justify-content: right;
  ul {
    // display: flex;
    list-style: none;
    text-align: right;
    font-weight: 700;
    display: flex;
    align-items: center;
    li + li {
      margin-left: 1rem;
      margin-top: 0.1rem;
    }
  }
  a {
    &::before {
      right: 0;
      left: initial;
      background: initial;
      background: rgb(202, 238, 229);
      background: -moz-linear-gradient(
        270deg,
        rgba(202, 238, 229, 1) 0%,
        rgba(202, 238, 229, 0.5) 71%,
        rgba(0, 0, 0, 0) 100%
      );
      background: -webkit-linear-gradient(
        270deg,
        rgba(202, 238, 229, 1) 0%,
        rgba(202, 238, 229, 0.5) 71%,
        rgba(0, 0, 0, 0) 100%
      );
      background: linear-gradient(
        270deg,
        rgba(202, 238, 229, 1) 0%,
        rgba(202, 238, 229, 0.5) 71%,
        rgba(0, 0, 0, 0) 100%
      );
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: inherit;
      outline: none;
      &::before {
        width: 115%;
      }
    }
  }
}

.container {
  width: 90%;
  margin: 0 auto;
}

.grid {
  display: grid;
}
.gallery {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-self: center;
  gap: 0.8rem;
}
.img {
  display: block;
  height: 40px;
  width: 40px;
}

.portfolio-frame {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25),
    -4px -4px 4px rgba(255, 255, 255, 0.75);
  transition: transform $transition-length ease-out;
  outline: none;
  border: none;
  background-color: inherit;

  &:hover,
  &:focus {
    transform: scale(1.08);
    transition: transform 200ms ease-in;
  }

  &:active {
    outline: none;
    transform: scale(0.9);
  }
}

.full-height {
  min-height: 100vh;
}

.work-page {
  display: grid;
  justify-items: center;
}

.title-container {
  align-self: flex-end;
}

.title {
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    width: 70%;
    left: 30%;
    height: 40%;
    bottom: 0;
    background-color: red;
    z-index: -1;
    background: rgb(202, 238, 229);
    background: -moz-linear-gradient(
      90deg,
      rgba(202, 238, 229, 1) 0%,
      rgba(202, 238, 229, 0.5) 71%,
      rgba(0, 0, 0, 0) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(202, 238, 229, 1) 0%,
      rgba(202, 238, 229, 0.5) 71%,
      rgba(0, 0, 0, 0) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(202, 238, 229, 1) 0%,
      rgba(202, 238, 229, 0.5) 71%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  margin-top: 1rem;
  text-align: center;
}

.rotating-word {
  display: inline-block;
  width: 9ch;
  position: relative;
  span {
    overflow: hidden;
    position: absolute;
    bottom: -7px;
    left: 0px;
    animation: topToBottom 18s linear infinite 0s;
    opacity: 0;
  }
}
.rotating-word span:nth-child(2) {
  animation-delay: 3s;
  // color: red;
}
.rotating-word span:nth-child(3) {
  animation-delay: 6s;
  // color: blue;
}
.rotating-word span:nth-child(4) {
  animation-delay: 9s;
  // color: green;
}
.rotating-word span:nth-child(5) {
  animation-delay: 12s;
  // color: yellow;
}

.rotating-word span:nth-child(6) {
  animation-delay: 15s;
  // color: orange;
}

.portfolio-modal {
  position: fixed;
  overflow-y: auto;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform-origin: center;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 1ms ease-in $transition-length,
    opacity $transition-length ease-in;
  z-index: 100;
  background-color: $bg-color;
  &.show {
    transform: translateY(0);
    transition: transform $transition-length ease-in;
    opacity: 1;
  }
}
.portfolio-a,
.portfolio-b {
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
}
.portfolio-b {
  display: grid;
  // align-items: flex-start;
  justify-items: center;
}

.project-text {
  width: 90%;
  max-width: 60ch;
}

.project-buttons {
  // margin: 0 auto;
}

.close-button {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 40px;
  height: 60px;
  width: 60px;
  background: none;
  border: none;
  &:active {
    outline-color: $theme-color;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -35%;
    left: 50%;
    margin-left: -5%;
    width: 10%;
    height: 70%;
    background-color: $font-color;
  }

  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
  &::before:active,
  &::after:active {
    outline: none;
  }
}

.media-icon {
  width: 18px;
  height: 18px;

  & .main-fill {
    fill: $font-color;
  }
  & .secondary-fill {
    fill: $bg-color;
  }
}

.has-tooltip {
  position: relative;
}

.tooltip {
  top: -2.3rem;
  font-family: Lato, sans-serif;
  font-weight: 700;
  color: $font-color;
  left: 0;
  margin-left: -50%;
  width: 200%;
  position: absolute;
  opacity: 0;
  transition: opacity $transition-length ease-in-out;
}
.tooltip.tooltip-bottom {
  top: initial;
  bottom: -2.3rem;
}

.has-tooltip:hover > .tooltip {
  opacity: 1;
}

@media only screen and (min-width: 700px) {
  .portfolio-modal {
    display: grid;
    grid-template-columns: 5fr 6fr;
    align-items: center;
  }
  .portfolio-a,
  .portfolio-b {
    height: 100%;
  }
  .portfolio-a {
    background-position: 80% 50%;
  }
  .portfolio-b {
    align-items: center;
    justify-content: left;
  }
  body {
    font-size: 18px;
  }
  .title {
    font-size: 80px;
  }
  .subtitle {
    font-size: 24px;
    margin-left: 6rem;
  }

  header {
    display: flex;
    justify-content: space-between;

    .logo {
      width: auto;
    }
    nav {
      width: auto;
      ul {
        li + li {
          margin-left: 4rem;
        }
      }
    }
  }

  .gallery {
    gap: 2rem;
  }

  .img {
    height: 80px;
    width: 80px;
  }

  .rotating-word {
    span {
      bottom: -9px;
    }
  }

  footer {
    ul {
      li + li {
        margin-left: 2rem;
      }
    }
  }

  .media-icon {
    width: 24px;
    height: 24px;
  }
}

//dark mode
.App.dark-mode {
  color: $font-color--dark;
  background-color: $bg-color--dark;

  .portfolio-modal {
    background-color: $bg-color--dark;
  }

  .close-button {
    &::before,
    &::after {
      background-color: $font-color--dark;
    }
  }

  .media-icon {
    & .main-fill {
      fill: $font-color--dark;
    }
    & .secondary-fill {
      fill: $bg-color--dark;
    }
  }

  .tooltip {
    color: $font-color--dark;
  }
}

/*topToBottom Animation*/
@keyframes topToBottom {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(-20px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  20% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 0;
    transform: translateY(30px);
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.mt-1 {
  margin-top: 1rem;
}
.block {
  display: block;
}
.w-max {
  width: max-content;
}
